<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>E-commerce Store</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header>
    <div class="search-bar">
        <!-- Search Form -->
        <form action="{% url 'search' %}" method="GET">
            <input type="text" name="query" placeholder="Search by SKU or name">
            <button type="submit">Search</button>
        </form>
    </div>
    <header>
        <h1>Welcome to Our eCommerce Store</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'index' %}">Shop</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>
</header>


<main>
    <div class="container" id="itemsContainer">
        <!-- Items will be dynamically added here -->
        {% for item in items %}
        <div class="item">
            {% load static %}
            <img class="product-image" src="{% static 'images/' %}{{ item.img }}" alt="Product Image">
            <h2><a href="/ds/products/{{ item.ruta }}" target="_blank">{{ item.nombreProducto }}</a></h2>
            <p>Price: <span class="calculated-price" data-precio="{{ item.precio }}"></span>+IVA</p>


            <p>Sku: {{ item.sku }}</p>
        </div>
        {% endfor %}
    </div>
    
</main>

<div class="pagination">
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">Previous</a>
    {% endif %}
    
    {% for num in page.paginator.page_range %}
        {% if num == page.number %}
            <span class="current-page">{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    
    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">Next</a>
    {% endif %}
</div>
<script>
    // Calculate the price for each item
    document.addEventListener("DOMContentLoaded", function() {
        var calculatedPrices = document.querySelectorAll('.calculated-price');
        calculatedPrices.forEach(function(calculatedPrice) {
            var precio = parseFloat(calculatedPrice.getAttribute('data-precio'));
            var calculatedPriceValue = (precio / 1.19);
            calculatedPrice.textContent = '$' + calculatedPriceValue.toFixed(2);
        });
    });
</script>
</body>
</html>
